<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1> Trivia </h1>
    <form id="form" method='post' action='/action'>
      <label for="Question"> Type your question </label>
      <input type="text" name="question">
      <label for="Answer"> Type the answer </label>
      <input type="text" name="answer">
      <input type="submit" id="send" value="submit"/>
    </form>
  </body>
 </html>
