h1 {
  color:yellow;
  text-align:center;
}

body{
  background: skyblue;
  font-family: verdana;
  color:white; padding:30px;
}

input{
  margin-bottom: 5%;
  display: block;
  width:400px;
  margin-left: auto;
  margin-right: auto;
}

label{
  display: block;
  margin-bottom: 5%;
  text-align:center;
  padding-right: 10px;
}

#send {
  width: 50px;
  text-align: center;
}
